




decrypted.db
separated/
songs/
full.html
effects/old_rekordbox_effects
parse.html
__pycache__/
generated_effects_jsons/
.pytest_cache/
cnam_slander_said_the_sky.mp3
experimental/
nonsense/
click_file_for_essentia.mp3
okaerinasai.mp3
data/nonsense/
fonts/
youtube_cache.json
*.mp3
*.ogg
*.webm
input_download_mp3s_bulk.txt
temp/
effects_migrated/
*.wav
.DS_Store
chris.py
effects/autogen_shows/
effects/autogen_shows/**
effects/rekordbox_effects/
effects/generated_effects/
chris2.py
estimations/**
.features_msaf_tmp.json
lut_cache/
old_songs/
estimations/
Output Files/
log.txt
old/test_names.py
.vscode/
old_songs/
ray_songs/
temp.txt
*.lprof
profile.svg
beat_output_file.dat




build_logs/
test_sdl_audio/vendor
compiler_depend.make
*.d
__pycache__
dummy.cpp
CMakeFiles/
.vscode/
CMakeCache.txt
src/api/include/projectM-4/projectM_export.h
winamp/projectm/include/
src/api/include/projectM-4/version.h
src/libprojectM/MilkdropPreset/MilkdropStaticShaders.cpp
src/libprojectM/MilkdropPreset/MilkdropStaticShaders.hpp
perf.data
src/playlist/include/
projectM-Test-UI
test_sdl2
*.so
*.4
*.4.0.0
*.pc
CMakeConfigureLog.yaml
xcuserdata
src/libprojectM/config.inp
projectm/vendor/projectm-eval/projectm-eval/projectM-Eval/projectM-EvalConfigVersion.cmake
src/libprojectM/config.inp.b
src/libprojectM/config.inp.in
src/projectM-emscripten/build/presets
winamp/projectm/presets/presets-cream-of-the-crop
winamp/build
old
*.dylib
projectM-EvalConfigVersion.cmake
project.xcworkspace
*.o
*.lo
*.la
*.a
projectM-*.tar.gz
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/configure
/libtool
/stamp-h1
.dirstamp
/src/libprojectM/config.h
ar-lib
compile
depcomp
install-sh
ltmain.sh
missing
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
/t
/src/libprojectM/libprojectM.pc
/build
/dist

# Visual Studio w/CMake
/out
/.vs
/CMakeSettings.json

_sync.bat
_sync.sh
to_sync/
.DS_Store
src/projectM-sdl/build/
src/libprojectM/build/
*.pkg
winamp/projectm/test_sdl_audio/vendor
cmake_install.cmake

# CLion
cmake-build-*
.idea
CPackConfig.cmake
CPackSourceConfig.cmake

winamp/presets/presets-cream-of-the-crop