__pycache__/
generated_effects_jsons/
.pytest_cache/
cnam_slander_said_the_sky.mp3
experimental/
nonsense/
click_file_for_essentia.mp3
okaerinasai.mp3
data/nonsense/
*.mp3
*.ogg
*.webm
temp/
*.wav
.DS_Store
chris.py
effects/autogen_shows/**
chris2.py
estimations/**
.features_msaf_tmp.json
lut_cache/